.vscode
.DS_Store
node_modules
HIST_PAINEL_COVIDBR.zip
HIST_PAINEL_COVIDBR.rar
covid.log
*.pyc
*.csv
token.json
*.pdf
*.xlsx
Dados_MS
back-end/vacinas/COM_REGISTRO DE DOSES APLICADAS COVID-19 26.05.2021.xlsx
_pycache__
back-end/covid/chromedriver/chromedriver
