/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f0f0f0;
}

/* Header */
.header {
  width: 100%;
  float: left;
  background: #1d1f32;
  text-align: center;
}

.header h1 {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  /*cor abaixo para o menu clean*/
  color: #fff;
  /* color: #fff; */
  margin-top: 25px;
  margin-right: 5px;
  letter-spacing: 0.4rem;
  margin-bottom: 30px;
}

header .logo {
  text-decoration: none;
}

.header h3 {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  /*cor abaixo para o menu clean*/
  color: #fff;
  /* color: #fff; */
  margin-top: 30px;
  letter-spacing: 0.2rem;
}

.header p {
  font-family: "Roboto Mono", monospace;
}

#map {
  margin-top: 30px;
  height: 800px;
  display: block;
  float: left;
  width: 100%;
}

#map.mobile {
  margin-top: 30px;
  height: 400px;
  display: block;
  float: left;
  width: 100%;
}

.map-info {
  padding: 10px 10px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.close-map-info {
  float: right;
  cursor: pointer;
  margin-left: 20px;
}

.btnLegend {
  padding: 10px 10px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.btnLegend h6 {
  font-size: 13px;
}

.btnLegend p {
  margin: 0;
}

.map-info h4 {
  margin: 10px 0 15px 0px;
  color: #777;
}

.map-info p {
  width: 100%;
}
.map-info p span{
  margin-left: 30px;
  float: right;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.clear {
  display: none;
}

.map-info.legend.leaflet-control {
  width: 100%;
  float: left;
  overflow: hidden;
}

.map-info.legend.leaflet-control p {
  margin-bottom: 5px;
  margin-top: 0px;
}

div.leaflet-control-container div.leaflet-top.leaflet-left p {
  margin: 0 0 10px 0;
}

.region {
  width: 100%;
  display: block;
  float: left;
}

.region p.info2 {
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
  text-align: center;
  color: #1d1f32;
  padding: 20px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 30px;
  margin-right: 20px;
  letter-spacing: 0.3rem;
  float: left;
  width: 100%;
}

.mst {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.region .pdate {
  font-family: "Roboto Mono", monospace;
  max-width: 100%;
  font-size: 20px;
  text-align: start;
  color: #000000;
  font-weight: 700;
  margin: -10px;
  margin-left: 14px;
  margin-bottom: 30px;
  clear: both;
  margin-top: -80px;
}
.region .if {
  margin-left: 20px;
  margin-top: 15px;
}

.region h2 {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.region .graph {
  margin-bottom: 40px;
}

.menu {
  margin-top: 70px;
  text-align: center;
  float: left;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.menu a {
  color: #fff;
  border-radius: 5px;
  background-color: #497d65;
  padding: 5px 10px;
}

.menu a:hover {
  margin-top: 50px;
  color: rgb(233, 233, 233);
  background-color: #91aea1;

  transition: 0.9s;
  text-decoration: none;
}

footer {
  float: left;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footerst {
  background-color: #1d1f32;
  margin: 0px;
  text-align: center;
  padding: 30px;
  margin-top: auto;
}

.footerst a {
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  text-align: center;
  text-decoration: none;
}

.footerst a:hover {
  text-decoration: none;
  color: rgb(233, 233, 233);

  text-align: center;
}

.graphic {
  width: 100%;
  min-height: 450px;
  margin-bottom: 60px;
  margin-top: 10px;
}

.info {
  clear: both;
  margin-top: 20px;
}

.graphics::before {
  content: "";
  background: #1d1f32;
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.p_graphic {
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
  text-align: center;
  color: #1d1f32;
  padding: 20px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: -30px;
  margin-left: 20px;
  letter-spacing: 0.3rem;
}

.conteudo1 ul li {
  display: inline-block;
  margin-top: -20px;
  margin-left: 30px;
}

.conteudo1 {
  width: 100%;
  margin-top: -40px;
  margin-left: -32px;
}

.region ul li {
  max-width: 95%;
}

section#graficos {
  float: left;
  width: 100%;
}

/*NOTAS EXPLICATIVAS*/
section .title-notas {
  text-align: center;
  color: #1d1f32;
  margin: 50px 0px 50px 0px;
  text-transform: uppercase;
  float: left;
  width: 100%;
  letter-spacing: 0.3rem;
}

.block-width {
  min-height: 50vh;
}

.item-nota h5 {
  font-size: 1.4rem;
  font-family: "Roboto Mono", monospace;
  color: #1d1f32;
  font-weight: 700;
  float: left;
  width: 100%;
}

.item-nota p {
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  line-height: 1.6rem;
  color: #1d1f32;
  font-weight: 400;
  float: left;
  width: 100%;
}

.item-nota ul li {
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  line-height: 1.6rem;
  color: #1d1f32;
  font-weight: 400;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  margin-left: -12px;
}

.disabled {
  display: none;
}

/* EQUIPE */
#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section .section-title {
  text-align: center;
  color: #1d1f32;
  margin-bottom: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  float: left;
  width: 100%;
  letter-spacing: 0.3rem;
}

#team .card {
  border: none;
  background: #ffffff;
  margin-bottom: 30px;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.card {
  height: 352px;
}

.card-body {
  background-color: #f5f5f5;
}

.card a {
  font-size: 18px;
  color: #007b5e !important;
}

.card .card-title,
.card .card-title {
  color: #007b5e !important;
}

.card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}


/* END EQUIPE */
